.container__add-despesa {
  height: 700px;
}

.container__add-despesa > p {
  margin-top: 10px;
  margin-left: 10px;
}

p {
  color: var(
    --primary-text-color
  ); /* Texto será preto no tema claro e branco no tema escuro */
}
