.container__footer {
  border: 1px solid grey;
  width: 70%;
  height: 50px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  border-radius: 5px;
}
a {
  text-decoration: none;
  padding: 5px;
}

.container__footer > teste {
  color: var(
    --primary-text-color
  ); /* Texto será preto no tema claro e branco no tema escuro */
}
.teste > p {
  color: var(--primary-text-color);
}
