.header__container {
  width: 70%;
  height: 50px;
  margin: auto;
  margin-top: 30px;
  border: 1px solid grey;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  padding-top: 10px;
  gap: 30%;
}

.header__container > button {
  border: 1px solid black;
  align-items: left;
  width: 150px;
}

.header__component-title {
  align-items: center;
  color: blue;
  border: 1px solid purple;
  width: 100%;
  padding-left: 100px;
}

/* .header__component > span {
  border: 1ps solid blue;
}

p {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  border: 1px solid red;
} */
